
@mixin font() {
    font-family: "Calibri";
    font-size: 28px;
    font-weight: bold; 
    color: white;  
    line-height: 1.3 !important;   
}

@mixin button($radius) {
    text-decoration: none;
    border-radius: $radius;
    border: 1px solid white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    &:hover {
        cursor: default;
        border: 1px solid red;
    }
}

$clGreen: #5c886a;
$clGrey: #6c6c6c;
$clViber: #9457ad;
$clVk: #61a0be;
$clPink: #dd3575;
$boxShadow: 0 8px 9px 0px rgba($color: #000000, $alpha: 0.21);

body, html, .main {
    @include font();
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.main {
    background-image: url("./images/фон2560.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

section {
    width: 90%;
    max-width: 1737px;
    height: 100%;
    // height: 1080px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: relative;
}

.slider {
    position: absolute;
    top: 220px;
    right: 400px;
    width: 750px !important;
    img {
        height: 650px !important;
        width: 750px !important;
    }
}

.logo {
    margin: 20px 0 25px 0;
    background-image: url(images/logo.png);
    width: 387px;
    height: 159px;
}

.info {
    height: 440px;
    width: 956px;
    border: 2px solid white;
    background-color: rgba($color: white, $alpha: 0.41);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    > * {
        margin-left: 40px;
    }
}

.firstText, .secondText {
    width: 660px;
    margin-top: 0;
}

.firstText {
    color: $clGreen;
}

.secondText {
    color: $clGrey;
    font-size: 24px;
}

.links {
    > a {
        @include button(30px);
        color: white;
        font-size: 16.67px;
        height: 60px;
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;
        box-shadow: $boxShadow;
        > p {
            display: flex;
            justify-content: center;
            margin: 0;
            width: 100%;
        }
        > img {
            margin-right: 7px;
            flex-shrink: 1;
        }
    }
}

.viber {
    background-color: $clViber;
    width: 328px;
}

.vk {
    background-color: $clVk;
    width: 221px;
}

.form {
    width: 463px;
    height: 630px;
    background-image: url("./images/фонФорма.png");
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border: 9px solid white;
    border-top: 0;
    align-self: flex-end;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    > a {
        @include button(20px);
        height: 40px;
        width: 177px;
        background-color: rgba($color: #ffffff, $alpha: 0.22);
        font-size: 16px;
    }
    > p {
        font-size: 16px;
    }
}

.submit {
    @include button(30px);
    background-color: $clPink;
    font-size: 16.67px;
}

.inner-form {
    height: 504px;
    border: 2px solid white;
    border-radius: 30px;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-self: flex-end;
    > * {
        margin: 0 60px;
    }
    > p {
        align-self: flex-start;
    }
    > p:first-child {
        width: 191px;
        margin-top: 50px;
    }
    > p:nth-child(2) {
        width: 199px;
        height: 44px;
        font-size: 16.67px;
    }
    > div {
        > input, a {
            height: 56px;
            border-radius: 30px;
            width: 326px;
            padding-left: 20px;
        }
        > input {
            margin-bottom: 15px;
            font-size: 16.67px;
        }
    }
}

input::placeholder {
    color: black;
    font-weight: bold;
    font-style: italic;
}

.youtube {
    align-self: flex-end;
    display: flex;
    align-items: flex-end;
    margin-top: 50px;
    > P {
        font-size: 14px;
        flex-shrink: 1;
        color: black;
        font-style: italic;
        width: 91px;
        height: 32px;
        margin: 0 0 0 15px;
    }
}

.leftLeaf, 
.rightLeaf {
    position: absolute;  
    bottom: 0px; 
}

.leftLeaf {
    left: 0px;
}

.rightLeaf {
    right: 0px;
}

.bigLeftLeaf {
    display: none;
}

@media(min-width:2560px) {

    .main {
        background-repeat: round;
        background-position: top left;
    }

    .bigLeftLeaf, .rightLeaf {
        bottom: 180px;
    }   

    .leftLeaf {
        display: none;
    }

    .bigLeftLeaf {
        display: inline;
        position: absolute;
        left: 0;
    }
}

@media(min-width: 375px) and (max-width: 1900px) {

    body {
        font-size: 31.25vh;
    }
    section {
        width: 100%;
        // width: 95%;
        padding: 40px;
        max-width: 100%;
    }

    .logo {
        background-image: url("images/logoSmall.png");
        width: 136px;
        height: 105px;
        position: absolute;
        margin: 0;
        // top: 60px;
        // left: 60px;
    }

    .info {

        border: 0;
        background: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-grow: 1;
        // max-height: 50%;
    }

    .firstText, .secondText {

        flex: 0 2 auto;
        max-width: 50%;
        min-width: 1px;
        margin-left: 0;
    }

    .links {
        order: -1;
        align-self: flex-end;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        height: 140px;
    }

    .slider {
        position: absolute;
        right: 0px;
        width: 375px !important;
        img {
            width: 375px !important;
            height: 537px !important;
        }
        .carousel-inner {
            > div:nth-child(3) {
                display: none;
            }
        }
    }

    .form {
        border: 0;
        background: 0;
        width: auto;
        height: auto;
        align-self: center;
        position: absolute;
        bottom: 40px;
        > *:not(.inner-form) {
            display: none;
        }
    }
    
    .inner-form {
        border: 0;
        width: auto;
        height: auto;
        > *:not(div) {
            display: none;
        }
        > div {
            margin: 0;
            > *:not(.submit) {
                display: none;
            }
            > a {
                padding: 0;
            }
        }
    }

    .submit {
        padding-left: 0px;
        box-shadow: $boxShadow;
    }

    .leftLeaf, .bigLeftLeaf, .rightLeaf {
        display: none;
    }

    .youtube {
        display: none;
    }
}