
font-face {
    font-family: "Calibri";
    src: url("./calibri-font-sv/Calibri\ Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

font-face {
    font-family: "Calibri";
    src: url("./calibri-font-sv/Calibri\ Bold.TTF");
    font-weight: bold;
    font-style: normal;
}

font-face {
    font-family: "Calibri";
    src: url("./calibri-font-sv/Calibri\ Bold\ Italic.ttf");
    font-weight: bold;
    font-style: italic;
}

font-face {
    font-family: "Calibri";
    src: url("./calibri-font-sv/Calibri\ Italic.ttf");
    font-weight: normal;
    font-style: italic;
}

font-face {
    font-family: "Calibri";
    src: url("./calibri-font-sv/Calibri\ Light.ttf");
    font-weight: lighter;
    font-style: normal;
}

font-face {
    font-family: "Calibri";
    src: url("./calibri-font-sv/Calibri\ Light\ Italic.ttf");
    font-weight: lighter;
    font-style: italic;
}

@mixin font() {
    font-family: "Calibri";
    // font-size: 28px;
    font-weight: bold; 
    color: white;  
    line-height: 1.1 !important;   
}

@mixin UseableElem($zIndex) {
    position: relative;
    z-index: $zIndex;
}

@mixin button($radius) {
    text-decoration: none;
    border-radius: $radius;
    border: 1px solid white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    &:hover {
        cursor: default;
        border: 1px solid red;
    }
    p {
        font-size: 1.0625rem; 
    }
}

@function Scale($width) {
    @return $width / 1.323;
}

$clGreen: #5c886a;
$clGrey: #6c6c6c;
$clViber: #9457ad;
$clVk: #61a0be;
$clPink: #dd3575;
$boxShadow: 0 8px 9px 0px rgba($color: #000000, $alpha: 0.21);

$SliderWidth: (108000px / 840px);
$SliderHeight: (108000px / 730);

html {
    font-size: 14px;
}

body, html, .main {
    @include font();
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.main {
    background-image: url("./images/фон2560.png");
    background-position: center top;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    min-height: 600px;
}

section {
    max-width: 1728px;
    max-height: 1100px;
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    // flex-grow: 1;
    // margin: 0 10px;
}

.leftSide {
    display: flex;
    flex-direction: column;
    flex:  0 1 48.125%;
    height: 100%;
}

.rightSide {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 0 1 24.15%;
    height: 100%;
}

.slider {
    position: absolute;
    top: 23%;
    right: 21.5%;
    width: 43.7%;
    height: 66%;
    max-height: 713px;
    max-width: 831px;
    div {
        height: 100%;
    }
    img {
        height: 100%;
    }
}

.logo {
    background-image: url(images/logo.png);
    background-size: 100% 100%;
    width: 372px;
    height: 144px;
    margin: 4.5% 0 6.146%;
}

.info {
    max-height: 385px;
    max-width: 832px;

    min-width: 650px;
    min-height: 273px;
    height: 41.1%;
    // width: 100%;
    border: 2px solid white;
    background-color: rgba($color: white, $alpha: 0.41);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 76.13%;
    flex: 0 1 87.917%;
}

.info-content-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // flex: 0 1 172px;
    height: 59.17%;
    // height: 200px;
}

.firstText, .secondText {
    margin: 0;
}

.firstText {
    color: $clGreen;
    // flex: 0 1 660px;
    max-width: 660px;
    font-size: 1.75rem;
    margin-bottom: 10px;
}

.secondText {
    color: $clGrey;
    font-size: 24px;
    // flex: 0 1 468px;
    max-width: 468px;
    font-size: 1.5rem;
    // margin-bottom: 25px;
}

.links {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    // flex: 0 1 18.34%;
    height: 18.34%;
    // max-width: 562px;
    a {
        @include UseableElem(1);
        @include button(30px);
        color: white;
        // height: 60px;
        height: 100%;
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;
        box-shadow: $boxShadow;
        p {
            margin: 0;
            text-align: center;
            flex: 1 1;
        }
        img {
            margin-right: 3.175%;
            height: 75.81%;
        }
    }
}

.viber {
    background-color: $clViber;
    flex: 0 2 38.79%;
    // width: ;
}

.vk {
    background-color: $clVk;
    flex: 0 2 26.25%;
    margin-left: 9px;
}

.form {
    max-height: 639px;
    max-width: 483px;
    min-width: 300px;
    min-height: 415px;
    // min-height: 500px;
    // min-height: 397px;
    height: 59.2vh;
    width: 100%;
    background-image: url("./images/фонФорма.png");
    background-position: top left;
    background-size: 100% 100%;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border: 10px solid white;
    border-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 8px 8px;
}

.top {
    // height: 114px;
    height: 17.84%;
    // height: 100%;
    width: 80%; 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    > a {
        @include button(20px);
        width: 50.56%;
        // height: 43px;
        height: 37.72%;
        background-color: rgba($color: #ffffff, $alpha: 0.22);
        font-size: 16px;
        text-align: center;
    }
    > p {
        font-size: 16px;
        margin: 0;
    }
}

.submit {
    @include button(30px);
    @include UseableElem(1);
    @include font();
    background-color: $clPink;
    margin-bottom: 59px;
    color: white;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 2px solid white;
    border-radius: 30px;
    flex: 1 1 auto;
    p {
        margin: 0;
        // margin-top: 45px;
        // margin-top: 15%;
    }
    p:first-child {
        font-size: 33.33px;
        width: 191px;
    }
    p:nth-child(2) {
        width: 199px;
        height: 44px;
        font-size: 16.67px;
        // margin: 15% 0 13.46% 0;
    }
    
}

.bottom-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 0 auto;
    max-width: 74%;
    // height: 100%;
    height: 78.15%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // height: 52.36%;
    height: 50%;
    input {
        width: 100%;
        // height: 21.05%;
        height: 56px;
        @include UseableElem(1);
        font-size: 1.0625rem;
        // margin-bottom: 15px;
        margin-bottom: 5.64%;
        padding: 0 20px;
        border-radius: 30px;
        // flex-grow: 1;
    }
    input[type="submit"] {
        height: 62px; 
        // height: 23.68%;
        padding: 0;
        // margin-bottom: 22.18%;
        // margin-bottom: 17.9878%;
        margin: 0;
        // flex: 0 1 23.68%;
    }
}

input::placeholder {
    color: black;
    font-weight: bold;
    font-style: italic;
}

.youtube {
    align-self: flex-end;
    display: flex;
    align-items: flex-end;
    margin-top: 50px;
    > P {
        font-size: 14px;
        flex-shrink: 1;
        color: black;
        font-style: italic;
        width: 91px;
        height: 32px;
        margin: 0 0 0 15px;
    }
}

.leftLeaf, 
.rightLeaf {
    position: absolute;  
    bottom: 0px; 
}

.leftLeaf {
    left: 0px;
}

.rightLeaf {
    right: 0px;
}

.bigLeftLeaf {
    display: none;
}

#modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($color: #000000, $alpha: 0.5);
    display: none;
    z-index: 10;
}

.modal-content {
    display: flex;
    width: 90%; 
    padding: 15px;
    // background-color: rgba($color: #000000, $alpha: 0);
    background-image: url("./images/фонФорма.png");
    border: 2px solid white;
    border-radius: 15%;
}

.modalCaller {
    @include button(30px);
    position: absolute;
    bottom: 5.3%;
    height: 62px;
    display: none;
    width: 87.5%;
    max-width: 328px;
    margin: 0;
    
}

.close {
    // border-radius: 50%;
    // border: 2px solid black;
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    @include button(19px);
    border: 1px solid black;
    // height: 30px;
    // width: 30px;
    color: black;
    padding: 10px;
    margin: 5px;
    background-color: white;
}



@media(min-width:2560px) {

    .main {
        background-repeat: round;
        background-position: top left;
    }

    .bigLeftLeaf, .rightLeaf {
        bottom: 180px;
    }   

    .leftLeaf {
        display: none;
    }

    .bigLeftLeaf {
        display: inline;
        position: absolute;
        left: 0;
    }
}

@media (max-width: 1800px) {

    html {
        font-size: 13px;
    }

    .top {
        justify-content: center;
        a {
            width: 179px;
        }
    }
}

@media(max-width: 1100px) {

    section {
        width: auto;
        flex-grow: 1;
        margin: 0 10px;
    }
}

@media (max-width: 992px) {
    
    .modalCaller {
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    #modal:target {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @mixin AutoSize() {
        max-width: none;
        max-height: none;
        min-width: auto;
        min-height: auto;
    }

    .leftLeaf, .rightLeaf, .bigLeftLeaf, .youtube, .rightSide {
        display: none;
    }

    html {
        font-size: 14px;
    }

    .main {
        align-items: center;
    }

    section {
        margin: 0;
        justify-content: center;
        align-items: flex-start;
    }

    .leftSide {
        // min-width: 327px;
        min-height: 266px;
        width: 90%;
        height: 40%;
        flex: none;
        margin-top: 40px;
        position: relative;
    }

    .logo {
        background-image: url("images/logoSmall.png");
        position: absolute;
        width: 136px;
        height: 105px;
        margin: 0;
    }

    .info {
        position: absolute;
        height: 100%;
        width: 100%;
        background: none;
        border: none;
        @include AutoSize();
    }

    .info-content {
        @include UseableElem(1);
        height: 100%;
        width: 100%;
        flex: auto;
    }

    .info-content-top {
        width: 60%;
    }

    .firstText, .secondText {
        font-size: 1rem;
        color: black;
    }

    .links {
        order: -1;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        height: 83px;
        a {
            height: 37px;
        }
    }
    
    .viber {
        width: 189px;
        flex: 0 1 auto;
    }

    .vk {
        width: 142px;
        flex: 0 1 auto;
    }

    .slider {
        // top: 100px;
        top: 20%;   
        right: 0;
        width: 100%;
        max-width: 375px;
        // height: 540px;
        height: 80%;
        max-height: 540px;
    }
}

@media (max-width: 370px) {

    .links {
        a {
            p {
                font-size: 0.8rem;
            }
        }
    }

    .viber {
        width: 150px;
    }

    .vk {
        width: 120px;
    }
}

@media (orientation: portrait) and (min-width: 992px) {

    .slider {
        min-width: 600px;
    }
}