@charset "UTF-8";
body, html, .main {
  font-family: "Calibri";
  font-size: 28px;
  font-weight: bold;
  color: white;
  line-height: 1.1 !important;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.main {
  background-image: url("./images/фон2560.png");
  background-position: center top;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section {
  max-width: 1737px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 10px;
}

.leftSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 960px;
  padding-top: 43px;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.rightSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 483px;
          flex: 0 1 483px;
}

.slider {
  position: absolute;
  bottom: 12%;
  right: 21.5%;
  width: 47.7%;
}

.slider img {
  width: 100%;
}

.logo {
  margin-bottom: 59px;
  background-image: url(images/logo.png);
  background-size: 100% 100%;
  width: 372px;
  height: 144px;
}

.info {
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.41);
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-content {
  padding: 61px 0px 41px 40px;
  -webkit-box-flex: 0;
      -ms-flex: 0 2 100%;
          flex: 0 2 100%;
}

.firstText, .secondText {
  width: 100%;
  max-width: 660px;
  margin-top: 0;
}

.firstText {
  color: #5c886a;
}

.secondText {
  color: #6c6c6c;
  font-size: 24px;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 652px;
}

.links > a {
  position: relative;
  z-index: 1;
  text-decoration: none;
  border-radius: 30px;
  border: 1px solid white;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 16.67px;
  height: 60px;
  display: inline-flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  align-items: center;
  -webkit-box-shadow: 0 8px 9px 0px rgba(0, 0, 0, 0.21);
          box-shadow: 0 8px 9px 0px rgba(0, 0, 0, 0.21);
}

.links > a:hover {
  cursor: default;
  border: 1px solid red;
}

.links > a > p {
  margin: 0;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 2 auto;
          flex: 1 2 auto;
}

.links > a > img {
  margin: 7px 7px 7px 0;
}

.viber {
  background-color: #9457ad;
  width: 17.2vw;
  max-width: 330px;
}

.vk {
  background-color: #61a0be;
  width: 11.6vw;
  max-width: 223px;
}

.form {
  height: 639px;
  width: 100%;
  background-image: url("./images/фонФорма.png");
  background-position: top left;
  background-size: 100% 100%;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border: 10px solid white;
  border-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 8px 8px;
}

.top {
  height: 114px;
  max-width: 80%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top > a {
  text-decoration: none;
  border-radius: 20px;
  border: 1px solid white;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 179px;
  height: 43px;
  background-color: rgba(255, 255, 255, 0.22);
  font-size: 16px;
}

.top > a:hover {
  cursor: default;
  border: 1px solid red;
}

.top > p {
  font-size: 16px;
  margin: 0;
}

.submit {
  text-decoration: none;
  border-radius: 30px;
  border: 1px solid white;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  font-family: "Calibri";
  font-size: 28px;
  font-weight: bold;
  color: white;
  line-height: 1.1 !important;
  background-color: #dd3575;
  margin-bottom: 5.5vh;
  color: white;
}

.submit:hover {
  cursor: default;
  border: 1px solid red;
}

.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border: 2px solid white;
  border-radius: 30px;
}

.bottom p {
  margin: 0;
  margin-top: 4.4vh;
}

.bottom p:first-child {
  font-size: 33.33px;
  width: 191px;
}

.bottom p:nth-child(2) {
  width: 199px;
  height: 44px;
  font-size: 16.67px;
  margin-bottom: 4.1vh;
}

.bottom-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  max-width: 74%;
}

.bottom-content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-content div input {
  width: 100%;
  height: 56px;
  position: relative;
  z-index: 1;
  font-size: 17px;
  margin-bottom: 15px;
  padding: 0 20px;
  border-radius: 30px;
}

.bottom-content div input[type="submit"] {
  height: 62px;
  margin-bottom: 5.5vh;
  padding: 0;
}

input::-webkit-input-placeholder {
  color: black;
  font-weight: bold;
  font-style: italic;
}

input:-ms-input-placeholder {
  color: black;
  font-weight: bold;
  font-style: italic;
}

input::-ms-input-placeholder {
  color: black;
  font-weight: bold;
  font-style: italic;
}

input::placeholder {
  color: black;
  font-weight: bold;
  font-style: italic;
}

.youtube {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 50px;
}

.youtube > P {
  font-size: 14px;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  color: black;
  font-style: italic;
  width: 91px;
  height: 32px;
  margin: 0 0 0 15px;
}

.leftLeaf,
.rightLeaf {
  position: absolute;
  bottom: 0px;
}

.leftLeaf {
  left: 0px;
}

.rightLeaf {
  right: 0px;
}

.bigLeftLeaf {
  display: none;
}

@media (min-width: 2560px) {
  .main {
    background-repeat: round;
    background-position: top left;
  }
  .bigLeftLeaf, .rightLeaf {
    bottom: 180px;
  }
  .leftLeaf {
    display: none;
  }
  .bigLeftLeaf {
    display: inline;
    position: absolute;
    left: 0;
  }
}
/*# sourceMappingURL=styles.css.map */