@charset "UTF-8";
body, html, .main {
  font-family: "Calibri";
  font-size: 28px;
  font-weight: bold;
  color: white;
  line-height: 1.3 !important;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.main {
  background-image: url("./images/фон2560.png");
  background-position: center center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

section {
  width: 90%;
  max-width: 1737px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.slider {
  position: absolute;
  top: 220px;
  right: 400px;
  width: 750px !important;
}

.slider img {
  height: 650px !important;
  width: 750px !important;
}

.logo {
  margin: 20px 0 25px 0;
  background-image: url(images/logo.png);
  width: 387px;
  height: 159px;
}

.info {
  height: 440px;
  width: 956px;
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.41);
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.info > * {
  margin-left: 40px;
}

.firstText, .secondText {
  width: 660px;
  margin-top: 0;
}

.firstText {
  color: #5c886a;
}

.secondText {
  color: #6c6c6c;
  font-size: 24px;
}

.links > a {
  text-decoration: none;
  border-radius: 30px;
  border: 1px solid white;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 16.67px;
  height: 60px;
  display: inline-flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  align-items: center;
  -webkit-box-shadow: 0 8px 9px 0px rgba(0, 0, 0, 0.21);
          box-shadow: 0 8px 9px 0px rgba(0, 0, 0, 0.21);
}

.links > a:hover {
  cursor: default;
  border: 1px solid red;
}

.links > a > p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  width: 100%;
}

.links > a > img {
  margin-right: 7px;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.viber {
  background-color: #9457ad;
  width: 328px;
}

.vk {
  background-color: #61a0be;
  width: 221px;
}

.form {
  width: 463px;
  height: 630px;
  background-image: url("./images/фонФорма.png");
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border: 9px solid white;
  border-top: 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.form > a {
  text-decoration: none;
  border-radius: 20px;
  border: 1px solid white;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 177px;
  background-color: rgba(255, 255, 255, 0.22);
  font-size: 16px;
}

.form > a:hover {
  cursor: default;
  border: 1px solid red;
}

.form > p {
  font-size: 16px;
}

.submit {
  text-decoration: none;
  border-radius: 30px;
  border: 1px solid white;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #dd3575;
  font-size: 16.67px;
}

.submit:hover {
  cursor: default;
  border: 1px solid red;
}

.inner-form {
  height: 504px;
  border: 2px solid white;
  border-radius: 30px;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.inner-form > * {
  margin: 0 60px;
}

.inner-form > p {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.inner-form > p:first-child {
  width: 191px;
  margin-top: 50px;
}

.inner-form > p:nth-child(2) {
  width: 199px;
  height: 44px;
  font-size: 16.67px;
}

.inner-form > div > input, .inner-form > div a {
  height: 56px;
  border-radius: 30px;
  width: 326px;
  padding-left: 20px;
}

.inner-form > div > input {
  margin-bottom: 15px;
  font-size: 16.67px;
}

input::-webkit-input-placeholder {
  color: black;
  font-weight: bold;
  font-style: italic;
}

input:-ms-input-placeholder {
  color: black;
  font-weight: bold;
  font-style: italic;
}

input::-ms-input-placeholder {
  color: black;
  font-weight: bold;
  font-style: italic;
}

input::placeholder {
  color: black;
  font-weight: bold;
  font-style: italic;
}

.youtube {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 50px;
}

.youtube > P {
  font-size: 14px;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  color: black;
  font-style: italic;
  width: 91px;
  height: 32px;
  margin: 0 0 0 15px;
}

.leftLeaf,
.rightLeaf {
  position: absolute;
  bottom: 0px;
}

.leftLeaf {
  left: 0px;
}

.rightLeaf {
  right: 0px;
}

.bigLeftLeaf {
  display: none;
}

@media (min-width: 2560px) {
  .main {
    background-repeat: round;
    background-position: top left;
  }
  .bigLeftLeaf, .rightLeaf {
    bottom: 180px;
  }
  .leftLeaf {
    display: none;
  }
  .bigLeftLeaf {
    display: inline;
    position: absolute;
    left: 0;
  }
}

@media (min-width: 375px) and (max-width: 1900px) {
  body {
    font-size: 31.25vh;
  }
  section {
    width: 100%;
    padding: 40px;
    max-width: 100%;
  }
  .logo {
    background-image: url("images/logoSmall.png");
    width: 136px;
    height: 105px;
    position: absolute;
    margin: 0;
  }
  .info {
    border: 0;
    background: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .firstText, .secondText {
    -webkit-box-flex: 0;
        -ms-flex: 0 2 auto;
            flex: 0 2 auto;
    max-width: 50%;
    min-width: 1px;
    margin-left: 0;
  }
  .links {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    -ms-flex-item-align: end;
        align-self: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 140px;
  }
  .slider {
    position: absolute;
    right: 0px;
    width: 375px !important;
  }
  .slider img {
    width: 375px !important;
    height: 537px !important;
  }
  .slider .carousel-inner > div:nth-child(3) {
    display: none;
  }
  .form {
    border: 0;
    background: 0;
    width: auto;
    height: auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    position: absolute;
    bottom: 40px;
  }
  .form > *:not(.inner-form) {
    display: none;
  }
  .inner-form {
    border: 0;
    width: auto;
    height: auto;
  }
  .inner-form > *:not(div) {
    display: none;
  }
  .inner-form > div {
    margin: 0;
  }
  .inner-form > div > *:not(.submit) {
    display: none;
  }
  .inner-form > div > a {
    padding: 0;
  }
  .submit {
    padding-left: 0px;
    -webkit-box-shadow: 0 8px 9px 0px rgba(0, 0, 0, 0.21);
            box-shadow: 0 8px 9px 0px rgba(0, 0, 0, 0.21);
  }
  .leftLeaf, .bigLeftLeaf, .rightLeaf {
    display: none;
  }
  .youtube {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */